@font-face {
  font-family: 'shmulik';
  src: url('./fonts/shmulik/shmulikclm-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/shmulik/shmulikclm-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'stam';
  src: url('./fonts/stam/stamashkenazclm-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/stam/stamashkenazclm-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'miri';
  src: url('./fonts/miri/miriwin-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/miri/miriwin-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'shofar';
  src: url('./fonts/shofar/shofarregular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/shofar/shofarregular-webfont.ttf')  format('truetype') /* Safari, Android, iOS */
}

div.panel {
  margin: 0.3em 1em;
  padding: 0.3em 0.5em;
  display: grid;
  text-align: right;
}

.logo {
    line-height: 1;
    font-size: 3em;
}

#parsha {
    font-size: 1.5em;
    text-align: center;
}

.candle {
    width: 90%;
    line-height: 0.8em;
}

.section {
    margin: 0.3em 0px;
    border: 0.2em solid;
    border-radius: 1em;
    padding: 0.3em 0px;
    align: center;
}

.title {
    direction: rtl;
    width: auto;
    float: right;
    margin-top: -0.4em;
    margin-right: 0.5em;
    padding: 0px 0.2em;
    opacity: 1;
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 0.6em;
    xtext-decoration: underline;
}

.item {
    font-weight: normal;
    x-width: 90%;
    margin: auto 0.5em;
    font-size: 1.3em;
}

.halfitem {
    font-weight: normal;
    font-size: 1.1em;
    margin: 0.2em 0.5em;
}

.right {
    padding-left: 0.5em;
}
.left {
    padding-right: 0.5em;
}

.name {
    direction: rtl;
    float: right;
}

.comment {
    direction: rtl;
    font-size: 0.7em;
    float: right;
    margin: 0.3em 0.5em;
    x-height: 2.5em;
    x-vertical-align: center;
}

.time {
    float: left;
    font-weight: bold;
    vertical-align: top;
}

body {
   x-transform: scale(0.4);
   x-transform-origin: 0 0;
}

div.bg {
  display: grid;
  width: 100%;
  height: 178vw;
  /* base font size, everything else should #em */
  font-size: 2.5vw;
  font-weight: bold;
}

div.banner {
}

div.main {
}

div.announce {
}

.announcement {
    direction: rtl;
    font-size: 1.3em;
    font-style: italic;
    margin: auto;
    width: 90%;
    text-align: center;
}

.footer {
    direction: rtl;
    font-style: italic;
    margin: auto;
    margin-top: -0.4em;
    x-font-size: 1.2em;
}
